html {
	overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  font: 14px Arial, Helvetica, sans-serif;
  min-height: 100%;
}
a {
  color: #00B7FF;
}
.enemies {
	background-color: red;
	width:14px;
	height:14px;
	border-radius: 10px;
	position:absolute;
}
.bullets {
	background-color: #00FFFF;
	position:absolute;
}
.players {
	background-color: transparent;
	width:32px;
	height:61px;
	position:absolute;
}

#spawn_button {
	position: static !important;
}
#controls_modal #spawn_button {
	float: right;
}
#game_wrapper {
	min-height: 100%;
}